#login-form {
    margin-top: 25px;
    
}

#wbs-form {
    margin-top: 25px;
}

table {
    margin-top: 15px;
}

.login-page-form {
    max-width: 480px;
}

.list-page-form {
    margin-top: 25px;
}

.profile {
    margin-right: 10px;
    margin-left: 10px;
}



